.contact__box {
  max-width: 25rem;
}

.form__input {
  background-color: #c5c6c7;
  border: 2px solid $main-color;
}

.label {
  font-size: 1rem;
}

.form__input {
  font-family: "Raleway", sans-serif;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem auto;
}

.form__input:focus-within {
  outline: 1px solid rgb(94, 93, 93);
}

textarea.form__input {
  height: 15rem;
  overflow: hidden;
}

.form-btn__submit,
.form__submit {
  margin: 0 auto;
}

.form__submit {
  font-size: 1.2rem;
  padding: 0.8rem 1rem;
}

.form-btn__submit {
  padding: 0.5rem 0;
}
