.design-section {
  position: relative;
}

.design-section:after {
  content: "";
  position: absolute;
}

.design-section-1,
.design-section-2,
.design-section-1:after,
.design-section-2:after {
  width: 100%;
}

.design-section:after,
.design-section-1,
.design-section-2 {
  height: 120px;
}

.design-section-1,
.design-section-2:after {
  background-color: $auxiliar-color;
}

.design-section-2,
.design-section-1:after {
  background-color: $main-color;
}

.design-section-1:after,
.design-section-2:after {
  clip-path: polygon(100% 100%, 100% 0, 0 0);
  top: -1px;
  left: 0;
}
