@import "general_Styles";
@import "variables";
@import "header";
@import "about";
@import "utilities";
@import "portfolio";
@import "skills";
@import "contact";
@import "design-section";
@import "scrollUp";
@import "footer";

body {
  font-family: "Raleway", sans-serif, Arial, Helvetica, sans-serif;
}

.page-wrapper {
  max-width: 1600px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: $auxiliar-color;
  font-size: 1.1rem;
}

.header,
.about__box-bg,
.footer {
  background-color: $main-color;
}

.header,
.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 5rem;
}

.header,
.menu-link,
.btn,
.footer {
  color: $auxiliar-color;
}

.about-text,
.project__description,
.footer {
  padding: 0.5rem 0;
}

.menu-item {
  display: inline-block;
}

.menu-link {
  color: white;
}

.project__button,
.form__submit {
  background-color: $main-color;
}

@media (min-width: 768px) and (min-height: 601px) {
  .page-wrapper {
    font-size: 1.3rem;
  }

  .header,
  .footer {
    justify-content: space-around;
  }

  section {
    margin: 2rem;
  }

  .section__box {
    max-width: 80rem;
    width: 100%;
    margin: 0 auto;
  }
}

@media (min-width: 1000px) {
  .main,
  .section__box-wrapper,
  .navbar {
    max-width: 80%;
    margin: 0 auto;
  }
}
